@media only screen and (max-width: 1000px) { /* If screen is 1000px and below */
    #robotdance-image { /* This is the middle robot */
        display: none; /* Hide it because there is no space */
    }
}

@media only screen and (max-width: 670px) {
    #main-content { /* Main content (floating part) of the document */
        height: 100%;
        width: 100%; /* Set the width and height as 100% because the floating part was too small on smaller screen devices */
        max-width: unset; /* Remove max height and width because it is no longer needed if the width and height is 100% */
        max-height: unset;
    }

    #first-section p { /* Modify the paragraph section in the middle as the width and height changes its position */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-left: unset;
        margin-top: 170px;
        animation: none; /* Remove the animation to help loading speed and it messes up */
    }

    #first-section h1 {
        margin-left: unset;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        font-size: 2rem; /* Change the font size to match screen width so it is smaller. A bigger font doesn't look good */
    }

    #second-section h2 { /* Title of the second section */
        font-size: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        top: 90px;
    }
}

@media only screen and (max-width: 570px) {
    #paragraph-container {
        grid-template-columns: 1fr; /* Make one column. This is for the second section and works well smaller screen resolutions. */
        bottom: 10px;
    }

    #second-section p { /* This is the paragraph sections inside of the paragraph-container. I didn't put a height on this as the boxes resize based on content within. */
        font-size: 14px;
        margin-top: 0; /* Make sure the content is at the top */
    }

    #second-section h2 {
        top: 10px;
        left: 160px;
    }
}

@media only screen and (max-width: 500px) {
    #left-nav {
        display: none;
    }

    #logo {
        display: none;
    }

    #robotmid-image {
        left: 0;
    }

    #topbutton-collection { /* Hide the navigation buttons on the top nav */
        display: none;
    }

    #shownav { /* Display the 2 lines image */
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    .products p {
        overflow-y: scroll;
    }
    .products {
        height: 220px;
    }
    .products-image {
        margin-top: -100px;
    }
    .products h2 {
        margin-top: 50px;
        position: absolute; 
        font-size: 17px;
    }
}