@font-face {
    font-family: 'green-pillow';
    src: url('../fonts/GREENPIL.otf');
}

#main-content, .main-buttons img, #products-container, form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#main-content::-webkit-scrollbar-track, #main-content::-webkit-scrollbar, section::-webkit-scrollbar-track, section::-webkit-scrollbar, #menu-container, html::-webkit-scrollbar, form {
    display: none;
}
#first-section p, #maintop-button:hover, .button-collection:hover, h1, #second-section p, h2, footer {
    color: white;
}
#first-section p, #left-nav, .main-buttons, #top-nav, #topbutton-collection, h1, video, #main-image, #learn-button, .robothalf-image, #second-paragraph, #second-section h1, #paragraph-container, footer, #x {
    position: absolute;
}
body, #maintop-button, .button-collection, .products, .form-class, input[type="submit"] {
    cursor: none;
}

body {
    /* background: linear-gradient(to right, rgb(74, 53, 87), #121222); */
    background: linear-gradient(to right, rgb(16, 21, 25), #1a2745);
    /* background-repeat: no-repeat; */
    background-size: cover;    
}

#shownav {
    position: absolute;
    width: 25px;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: none;
}

#main-content {
    font-family: 'system-ui';
    height: 70%;
    width: 90%;
    max-width: 1000px;
    max-height: 800px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 50px rgba(10, 15, 20, 1);
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    overflow: scroll;
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
    position: relative;
    overflow-y: scroll;
    height: 100%;
}

#first-section p {
    font-weight: lighter;
    font-size: 18px;
    width: 60%;
    margin-top: 220px;
    margin-left: 125px;
    background-color: rgba(206, 206, 206, 0.2);
    padding: 20px;
    border-radius: 5px;
}
#first-section img {
    transition: 200ms;
}

.main-button-images {
    opacity: 0.2;
}

#left-nav {
    width: 60px;
    top: 0;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.main-buttons {
    width: 60px;
    height: 55px;
    background-color: #76767635;
}
.main-buttons:hover .main-button-images {
    opacity: 1;
}

.main-buttons:hover {
    background-color: #76767652;
}

.main-buttons:hover .main-buttons-images {
    opacity: 1;
}

#logo {
    width: 25px;
    margin-left: 35px;
    margin-top: 17px;
}

.main-buttons img {
    width: 50%;
}

#menu-container {
    height: 250px;
    width: 60px;
}
#menu-container a:nth-child(1) {
    margin-top: 70px;
}
#menu-container a:nth-child(2) {
    margin-top: 127px;
}
#menu-container a:nth-child(3) {
    margin-top: 184px;
}
#menu-container a:nth-child(4) {
    margin-top: 241px;
}

#top-nav {
    width: 95%;
    height: 60px;
    top: 0;
    right: 0;
}

#maintop-button {
    background: linear-gradient(to right, rgb(91, 39, 97), rgb(0, 89, 255));
    float: right;
    padding: 8px 18px;
    margin-top: 15px;
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    text-decoration: none;
    transition: 200ms;
}

#topbutton-collection {
    right: 150px;
    top: 20px;
    width: 255px;
}

.button-collection {
    margin-left: 15px;
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

h1 {
    width: 500px;
    font-size: 50px;
    left: 130px;
    top: 50px;
    font-family: 'green-pillow';
    font-weight: lighter;
}

#video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

#main-image {
    width: 99%;
    height: 99%;
    object-fit: cover;
    filter: blur(50px);
    transition: 1000ms;
    animation: fadein 2s;
}

#learn-button {
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 100px;
    background-color: rgba(142, 142, 142, 0.241);
    border-radius: 100%;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.429);
    transition: 300ms;
}
#learn-button:hover {
    background-color: rgba(240, 255, 255, 0.74);
    color: black;
    font-size: 20px;
}

nav {
    position: fixed;
    z-index: 1;
}

.robothalf-image {
    width: 200px;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    filter: grayscale(100%);
}
.robothalf-image:hover {
    opacity: 1;
    filter: grayscale(0%);
}

#robotdance-image {
    left: 370px;
    width: 350px;
}

#robotmid-image {
    left: 100px;
    width: 250px;
}

#second-paragraph {
    top: 200px;
}

#second-section h1 {
    top: 5px;
    left: 50px;
    font-size: 50px;
    font-family: 'green-pillow';
    font-weight: lighter;
}
#paragraph-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    height: 500px;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -45%);
    justify-items: center;
}

#second-section p {
    width: 80%;
    font-weight: lighter;
    font-size: 18px;
    background-color: rgba(206, 206, 206, 0.2);
    padding: 20px;
    border-radius: 5px;
    overflow-y: scroll;
}

/* Hide the background of the scrollbar */
#second-section p::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

/* Change the width and color of the scrollbar */
#second-section p::-webkit-scrollbar-thumb {
    background-color: black;
    border: none;
    border-radius: 50px;
}

#products-container {
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*    grid-gap: 10px;*/
    width: 95%;
    height: 96%;
    margin-top: 7px;
    overflow: scroll;
}
#products-container a {
    text-decoration: none;
}

#products-container::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

/* Change the width and color of the scrollbar */
#products-container::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
}

.products {
/*    height: 140px;*/
    border-radius: 15px;
    transition: 250ms;
    display: flex;
    align-items: center;
    opacity: 0.7;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
}
.products:hover {
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

.products-image {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.products p {
    color: white;
    height: 90%;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: 10px;
}

.products p::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

/* Change the width and color of the scrollbar */
.products p::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
}

#product-3, #product-10 {
    padding: 10px 0 10px 0;
}

#product-5 img, #product-6 img, #product-7 img, #product-8 img, #product-9 img, #product-10 img, #product-11 img, #product-12 img {
    border-radius: 15px;
}

h2 {
    margin-left: 10px;
    border-radius: 5px;
    padding: 8px;
}

form {
    width: 60%;
    max-width: 300px;
    background-color: rgb(30, 35, 40);
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
}

input,
textarea {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 85%;
}

input[type="submit"] {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: 50%;
}

input[type="submit"]:hover {
    background-color: #0069d9;
}

input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

footer {
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#x {
    padding: 2px;
    width: 20px;
    right: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}